<server description="Sample Liberty server">
    <!-- tag::features[] -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>mpHealth-4.0</feature>
        <feature>mpMetrics-5.1</feature>
<!--        <feature>cdi-4.0</feature>-->
        <!-- tag::mpHealth[] -->
<!--        <feature>mpHealth-4.0</feature>-->
        <!-- end::mpHealth[] -->
<!--        <feature>mpConfig-3.1</feature>-->
    </featureManager>
    <!-- end::features[] -->

    <variable name="http.port" defaultValue="8080"/>
    <variable name="https.port" defaultValue="8443"/>

    <!-- tag::webApplication[] -->
    <webApplication location="tools.descartes.teastore.webui.war" contextRoot="/tools.descartes.teastore.webui" />
    <!-- end::webApplication[] -->
    <mpMetrics authentication="false"/>

    <!-- tag::logging[] -->
    <logging traceSpecification="com.ibm.ws.microprofile.health.*=all" />
    <!-- end::logging[] -->

    <httpEndpoint host="*" httpPort="${http.port}" httpsPort="${https.port}"
        id="defaultHttpEndpoint"/>
</server>
