/.project
/.classpath
/.metadata/
/.settings/
RemoteSystemsTempFiles/
Servers/
/.recommenders
services/tools.descartes.petstore.image/test/
services/tools.descartes.teastore.image/src/main/resources/db-dumps
services/tools.descartes.teastore.image/images_static
utilities/tools.descartes.teastore.database/db-dumps/
limbo_checkstyle.out.xml
interfaces/tools.descartes.teastore.entities/.classpath
*.iml
.idea/
/e2e-tests/node_modules/
/e2e-tests/cypress/videos
/e2e-tests/cypress/screenshots
target/
**/.DS_Store
.pdfignore.yaml
code.pdf
codetopdf.py
.venv
.env
__pycache__
.vite
