<server description="TeaStore Registry">
    <!-- tag::features[] -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.1</feature>
        <feature>concurrent-3.0</feature>
    </featureManager>
    <!-- end::features[] -->
    <variable name="http.port" defaultValue="8080"/>
    <variable name="https.port" defaultValue="8443"/>
    <variable name="context.root" defaultValue="/tools.descartes.teastore.registry"/>

    <applicationManager autoExpand="true"/>
    <!-- tag::webApplication[] -->
    <webApplication location="tools.descartes.teastore.registry.war" contextRoot="${context.root}"/>
    <!-- end::webApplication[] -->
    <mpMetrics authentication="false"/>

    <!-- tag::logging[] -->
     <logging consoleLogLevel="INFO"/>
    <!-- end::logging[] -->

    <httpEndpoint host="*" httpPort="${http.port}" httpsPort="${https.port}"
                  id="defaultHttpEndpoint"/>
</server>
