<!-- YOU NEED TO CHANGE THIS -->
<server description="TeaStore persistence">
    <!-- tag::features[] -->
    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>restfulWSClient-3.1</feature>
        <feature>mpHealth-4.0</feature>
        <feature>mpMetrics-5.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>persistence-3.1</feature>
        <feature>xmlBinding-4.0</feature>
        <feature>pages-3.1</feature>
    </featureManager>
    <!-- end::features[] -->

    <!-- YOU NEED TO CHANGE THIS -->
    <variable name="context.root" defaultValue="/tools.descartes.teastore.persistence"/>

    <library id="global">
        <fileset dir="jdbc" includes="*.jar"/>
    </library>

    <dataSource id="TeaStoreDS" jndiName="jdbc/TeaStoreDB">
        <jdbcDriver id="MySQLJDBCDriver" libraryRef="global"/>
        <properties serverName="${db.host}" portNumber="${db.port}" databaseName="${db.name}"
                    user="${db.user}" password="${db.password}"/>
        <!-- Connection Pool Configuration -->
         <connectionManager maxPoolSize="10" minPoolSize="2" agedTimeout="15m" reapTime="2m" connectionTimeout="5s" maxIdleTime="10m"/>
    </dataSource>

    <!-- tag::webApplication[] -->
    <!-- YOU NEED TO CHANGE THIS -->
    <webApplication location="tools.descartes.teastore.persistence.war" contextRoot="${context.root}" />
    <!-- end::webApplication[] -->
    <mpMetrics authentication="false"/>

    <!-- tag::logging[] -->
    <logging consoleLogLevel="INFO"/>
    <!-- end::logging[] -->

    <httpEndpoint host="*" httpPort="${service.port}" httpsPort="${service.port.ssl}"
                  id="defaultHttpEndpoint">
        <compression serverPreferredAlgorithm="gzip">
          <types>+application/*</types>
          <types>-text/plain</types>
        </compression>
    </httpEndpoint>
</server>
