<!-- YOU NEED TO CHANGE THIS -->
<server description="TeaStore Auth">
    <!-- tag::features[] -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.1</feature>
        <feature>concurrent-3.0</feature>
    </featureManager>

    <!-- YOU NEED TO CHANGE THIS -->
    <variable name="context.root" defaultValue="/tools.descartes.teastore.auth"/>

    <applicationManager autoExpand="true"/>
    <!-- tag::webApplication[] -->
    <!-- YOU NEED TO CHANGE THIS -->
    <webApplication location="tools.descartes.teastore.auth.war" contextRoot="${context.root}"/>
    <!-- end::webApplication[] -->
    <mpMetrics authentication="false"/>

    <!-- tag::logging[] -->
    <logging consoleLogLevel="INFO"/>
    <!-- end::logging[] -->

    <httpEndpoint host="*" httpPort="${service.port}" httpsPort="${service.port.ssl}"
                  id="defaultHttpEndpoint"/>
</server>
